.main-folder {
  display: flex;
  justify-content: center;
  padding-top: 2rem;
}
.main-folder-card {
  padding: 1rem 0.5rem;
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
  width: 80%;
}

/* USER OPTIONS */

.main-folder .main-menu.close .user-action.back {
  display: none;
}

.main-folder .main-menu.close .user-options {
  margin-right: 42px;
}
.main-folder .main-menu {
  height: 46px;
  display: flex;
  align-items: center;
  width: 100%;
}

.main-folder .main-menu .user-action.back .icon-btn {
  font-size: 2rem !important;
  padding: 5px 1px 5px 9px;
}

.main-folder .user-options {
  display: flex;
  gap: 0.5rem;
  padding: 0 2%;
  align-items: center;
}

.main-folder .back.hide,
.main-folder .delete.hide,
.main-folder .download.hide,
.main-folder .open.hide {
  display: none;
}

.main-folder .user-action {
  position: relative;
}
.main-folder .user-action.back:hover,
.main-folder .user-action.download:hover,
.main-folder .user-action.delete:hover,
.main-folder .user-action.open:hover {
  transform: translateY(-0.2rem);
  cursor: pointer;
}
.main-folder .user-action.back:hover + .back.hide,
.main-folder .user-action.open:hover + .open.hide,
.main-folder .user-action.delete:hover + .delete.hide,
.main-folder .user-action.download:hover + .download.hide {
  display: block;
  position: absolute;
  padding: 0.5rem 1rem;
  white-space: pre;
  overflow: hidden;
}

/* ITEMS */
.main-folder .items-menu {
  margin-right: 42px;
  display: grid;
  grid-template-columns: 45% 15% 21% 5% 2%;
  justify-items: right;
  align-items: center;
  gap: 2%; /* total: 8% */
  padding: 0 2%;
  box-shadow: 0 2px 0 rgba(0, 0, 0, 0.26) !important;
  border-radius: 0 !important;
}

.main-folder .items {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.main-folder-item {
  display: flex;
  width: 100%;
}
