.item {
  display: grid;
  grid-template-columns: 50% 15% 16% 5% 2%;
  justify-items: right;
  align-items: center;
  gap: 2%; /* total: 8% */
  padding: 0 2%; /* total: 4% */
}
.item.selected {
  background-color: rgb(133, 194, 229);
  opacity: 50%;
}

.item .two-col {
  display: flex;
  gap: 0.5rem;
  align-items: center;
  width: 100%;
}
.item img {
  border-radius: 50%;
  width: 24px;
}

.item .modified-by {
  white-space: pre;
  overflow: hidden;
}

.item .size {
  justify-self: center;
}
.two-col div {
  /* width: 100%; */
  /* white-space: nowrap; */
  /* overflow: hidden; */
}
